body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #4facfe, #00f2fe);
    text-align: center;
    margin: 0;
    padding: 0;
}

.container {
    margin-top: 80px;
    background: rgb(43, 155, 203);
    width: 350px;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
}

input {
    padding: 10px;
    width: 70%;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    padding: 10px 15px;
    border: none;
    background-color: #8eaccc;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #549f82;
}

.weather-box {
    margin-top: 20px;
}